<div class="premio">
  <div class="title">
      <h3>{{ premioS }}</h3>
  </div>

<table class="table table-condensed">
  <tr>
    <th *ngFor="let cabeca of cabecalho"> {{ cabeca }}</th>
  </tr>
  <tr *ngFor="let vencedor of semanal">
  <td>{{ vencedor.date | date:'dd/MM/yyyy' }}</td>
  <td>{{ vencedor.name }}</td>
  <td>{{ vencedor.msisdn  | telefone }}</td>
  <td>{{ premioSemanal }}</td>
  </tr>
</table>
</div>

<div class="premio">
  <div class="title">
    <h3>{{ premioT }}</h3>
  </div>
<table class="table table-condensed">
  <tr>
    <th *ngFor="let cabeca of cabecalho"> {{ cabeca }}</th>
  </tr>
  <tr *ngFor="let vencedor of trimestral">
  <td>{{ vencedor.date | date:'dd/MM/yyyy' }}</td>
  <td>{{ vencedor.name }}</td>
  <td>{{ vencedor.msisdn | telefone }}</td>
  <td>{{ premioTrimestral }}</td>
  </tr>
</table>
</div>
