@import '../../variables';

.premio{
  .title{
    padding-left: 5%;
    background-color: $bgcolor-title;
    width: 100%;
    height: 50px;
    display:table;
    color: $color-footer;
    position: relative;
    margin: -5px 0px;
  }
  h3{
    position: absolute;
    top:50%;
    margin-top:-15px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  table{
    background-color: $bgcolor-default;
    tr:first-child{
      box-shadow: 0px 2px 2px #333;
      background-color: $color-footer;
      border-bottom: 1px solid $bg-footer;
    }
    tr{
      background-color: $bgcolor-line;
      border-bottom: 2px solid $color-footer;
      td:first-child, th:first-child{
        padding-left: 5%;
      }
      th{
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 2%;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .premio{
     table{
      tr{

        th{
          font-size: 10px
        }
        td{
          font-size: 10px
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .premio{
     table{
      tr{

        th{
          font-size: 12px
        }
        td{
          font-size: 12px
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .premio{
     table{
      tr{

        th{
          font-size: 16px
        }
        td{
          font-size: 16px
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .premio{
     table{
      tr{

        th{
          font-size: 20px
        }
        td{
          font-size: 20px
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .premio{
     table{
      tr{

        th{
          font-size: 25px
        }
        td{
          font-size: 25px
        }
      }
    }
  }
}
