@import '../variables';

.menu-box{
  box-shadow: 0px 2px 10px #666;
  display: block;
  position: relative;
  z-index: 999;
}
.menu, .menu-footer{
  li{
    float: none !important;
    display: inline-block !important;
    border-radius:0px;
     a{
        color: $color-title-menu;
      }
      a:hover{
         background: none !important; color: $color-title;
      }
   }
}
.menu-footer{
  text-align: center;
  margin: 5% auto;
  a{ color: $color-footer !important;}
  a:hover{ color: $color-title-menu !important;}
}

.logo-imusica{
  img{
    margin: 0px auto;
  }
}
.container{
  display: table;
  position: relative;
  height: auto;
}

.footer-imusica{
  background-color: $bg-footer;
  color: $color-footer;
  width: 100%;
  display: block;
  margin: 0%;
  bottom: 0px;
  position: relative;

}
.separator-bar{
  width: 0px;
display: block;
margin: 0px;
background: #333;
padding: 0px;
}


.img-promocao{
  background:$bgcolor-default;
  display:table;
  width: 100%;
  margin: 0px;
  height: $height-img+px;
        img{
          width: 100%;
        }

}
.logo-imusica{
  img{
    width:$logo-width+px;
  margin: 5% auto;
  }
}

.menu, .menu-box{
  background-color: $color-footer;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 600px) {

  .img-promocao{
    height: $height-img/2+px;
  }

  .logo-imusica{
    img{
      width:$logo-width/2+px;
    }
  }
 }
