
  <div class="container-fluid menu-box">
    <ul class="nav nav-pills menu">
      <li role="presentation" ><a href="/home">Home</a></li>
      <li role="presentation separator-bar"><a href="#">|</a></li>
      <li role="presentation"><a href="/ganhadores">Ganhadores</a></li>
    </ul>
    </div>


<div class="row img-promocao">
<img src="../assets/images/promocao.jpg" class="img-responsive" alt="Promoção" />
</div>
<div class="">
<router-outlet></router-outlet>
</div>
<footer class="footer-imusica container">
  <ul class="nav menu-footer">
    <li role="presentation" ><a href="/home">Home</a></li>
    <li role="presentation separator-bar"><a href="#">|</a></li>
    <li role="presentation"><a href="#">Regulamento</a></li>
  </ul>
  <hr />

  <p>{{ textoRodape }}</p>
  <div class="logo-imusica">
<img src="../assets/images/logo-imusica.png" class="img-responsive" alt="Logo imusica" />
  </div>
</footer>
