$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
/*$brand-primary: red;*/



$bg-footer: #303030;

$text-default: #3C3C3C;

$color-footer: #FFFFFF;

$color-title: #FF005D !default;

$color-title-menu: #f4005c !default;

$bgcolor-title:#666666;

$bgcolor-line:#E9E9E9;

$bgcolor-default:#FFFFFF;

$height-img:725;

$gradient-img-ini:#555eff;

$logo-width:221;

$gradient-img-fim:#00d9ff;
